/* CSS Document Copyright © 2009 ZephyrZhang All Rights Reserved*/
/* Global Style */

* { margin: 0; padding: 0;}
body { text-align: left; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, Sans-serif; font-size:100%; color: #555555; background-color: #e8ebef; display: block; position:reletive}
p { text-align: justify; line-height: 1.5; font-size: 0.75em;}
highlighttxt { color: #cc0000;}
h2 { font-size: 1em;}
h3 { font-size: 0.875em;}
h4 { font-size: 0.875em;}
a:link { color: #555555; text-decoration: none;}
a:visited { color: #555555; text-decoration: none;}
a:hover { color: #999999; text-decoration: underline;}
a.linkinp { color: #cc0000; text-decoration: underline;}
a img { border: 0;}
.clear{ height: 0; clear: both;}

/* 主体格式 Copyright © 2009 ZephyrZhang All Rights Reserved */
#wrapper { background-color: #ffffff; width: 900px; height: 400px; margin-left: auto; margin-right: auto; margin-bottom: 50px;}
#header { width: 900px; height: 80px; background-color: #555555; background: url("../img/logo.png") no-repeat 20px 20px;}
#searchform { float: right; margin-top: 15px; margin-right: 15px;}
#searchinput { float: left; width: 120px; height: 17px; border:1px solid #cccccc;}
#searchbutton { float: left; margin-left:3px}

/* 主导航栏格式 Copyright © 2009 ZephyrZhang All Rights Reserved */
#mainnav { width: 900px; list-style-type: none;}
#mainnav li { float:left; cursor:pointer;}
#on a { background-position: 0px -32px;}
.navtxt	{ display: none; }
.nav01 a { display: block; height: 32px; width: 347px; background: url("../img/mainnavbg.png") no-repeat 0px 0px;}
.nav01 a:hover { background-position: 0px -34px;}
.nav02 a { display: block; height: 32px; width: 111px; background: url("../img/mainnavbg.png") no-repeat -347px 0px;}
.nav02 a:hover { background-position: -347px -34px;}
.nav03 a { display: block; height: 32px; width: 110px; background: url("../img/mainnavbg.png") no-repeat -458px 0px;}
.nav03 a:hover { background-position: -458px -34px;}
.nav04 a { display: block; height: 32px; width: 110px; background: url("../img/mainnavbg.png") no-repeat -568px 0px;}
.nav04 a:hover { background-position: -568px -34px;}
.nav05 a { display: block; height: 32px; width: 110px; background: url("../img/mainnavbg.png") no-repeat -678px 0px;}
.nav05 a:hover { background-position: -678px -34px;}
.nav06 a { display: block; height: 32px; width: 112px; background: url("../img/mainnavbg.png") no-repeat -790px 0px;}
.nav06 a:hover { background-position: -790px -34px;}


//
///*---------------主导航栏格式 Copyright © 2009 SilverZhu All Rights Reserved------------------*/
//
//#navigation { width: 960px;list-style-type: none;}
//#navigation li { float:left; cursor:pointer;}
//#on a { background-position: 0px -90px;}
//.navtxt	{ display: none; }
//
//.nav01 a { display: block; height: 45px; width: 76px; background: url("/nclc_cn/img/nav01.png") no-repeat 0px 0px;}
//.nav01 a:hover { background-position: 0px -45px;}
//.nav02 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav02.png") no-repeat 0px 0px;}
//.nav02 a:hover { background-position: 0px -45px;}
//.nav03 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav03.png") no-repeat 0px 0px;}
//.nav03 a:hover { background-position: 0px -45px;}
//.nav04 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav04.png") no-repeat 0px 0px;}
//.nav04 a:hover { background-position: 0px -45px;}
//.nav05 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav05.png") no-repeat 0px 0px;}
//.nav05 a:hover { background-position: 0px -45px;}
//.nav06 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav06.png") no-repeat 0px 0px;}
//.nav06 a:hover { background-position: 0px -45px;}
//.nav07 a { display: block; height: 45px; width: 125px; background: url("/nclc_cn/img/nav07.png") no-repeat 0px 0px;}
//.nav07 a:hover {background-position: 0px -45px;}
//.nav08 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav08.png") no-repeat 0px 0px;}
//.nav08 a:hover { background-position: 0px -45px;}
//.nav09 a { display: block; height: 45px; width: 93px; background: url("/nclc_cn/img/nav09.png") no-repeat 0px 0px;}
//.nav09 a:hover { background-position: 0px -45px;}
//.nav10 a { display: block; height: 45px; width: 108px; background: url("/nclc_cn/img/nav10.png") no-repeat 0px 0px;}
//.nav10 a:hover { background-position: 0px -45px;}
//
///*--------------次级导航栏格式 Copyright © 2009 SilverZhu All Rights Reserved------------------*/
//
//.subnav {list-style-type: none;}
//.subnav li { float:left; cursor:pointer;}
//#subon a { background-position: 0px 0px;}
//
//.p2sub1 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/aboutsub01.png") no-repeat -328px 0px;}
//.p2sub1 a:hover { background-position: -164px 0px;}
//.p2sub2 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/aboutsub02.png") no-repeat -328px 0px;}
//.p2sub2 a:hover { background-position: -164px 0px;}
//.p2sub3 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/aboutsub03.png") no-repeat -328px 0px;}
//.p2sub3 a:hover { background-position: -164px 0px;}
//.p2sub4 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/aboutsub04.png") no-repeat -328px 0px;}
//.p2sub4 a:hover { background-position: -164px 0px;}
//.p2sub5 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/aboutsub05.png") no-repeat -328px 0px;}
//.p2sub5 a:hover { background-position: -164px 0px;}
//
//.p3sub1 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub01.png") no-repeat -328px 0px;}
//.p3sub1 a:hover { background-position: -164px 0px;}
//.p3sub2 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub02.png") no-repeat -328px 0px;}
//.p3sub2 a:hover { background-position: -164px 0px;}
//.p3sub3 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub03.png") no-repeat -328px 0px;}
//.p3sub3 a:hover { background-position: -164px 0px;}
//.p3sub4 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub04.png") no-repeat -328px 0px;}
//.p3sub4 a:hover { background-position: -164px 0px;}
//.p3sub5 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub05.png") no-repeat -328px 0px;}
//.p3sub5 a:hover { background-position: -164px 0px;}
//.p3sub6 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub06.png") no-repeat -328px 0px;}
//.p3sub6 a:hover { background-position: -164px 0px;}
//.p3sub7 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub07.png") no-repeat -328px 0px;}
//.p3sub7 a:hover { background-position: -164px 0px;}
//.p3sub8 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub08.png") no-repeat -328px 0px;}
//.p3sub8 a:hover { background-position: -164px 0px;}
//.p3sub9 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/enjoysub09.png") no-repeat -328px 0px;}
//.p3sub9 a:hover { background-position: -164px 0px;}
//
//.p4sub1 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/joininsub01.png") no-repeat -328px 0px;}
//.p4sub1 a:hover { background-position: -164px 0px;}
//.p4sub2 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/joininsub02.png") no-repeat -328px 0px;}
//.p4sub2 a:hover { background-position: -164px 0px;}
//.p4sub3 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/joininsub03.png") no-repeat -328px 0px;}
//.p4sub3 a:hover { background-position: -164px 0px;}
//.p4sub4 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/joininsub04.png") no-repeat -328px 0px;}
//.p4sub4 a:hover { background-position: -164px 0px;}
//.p4sub5 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/joininsub05.png") no-repeat -328px 0px;}
//.p4sub5 a:hover { background-position: -164px 0px;}
//.p4sub6 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/joininsub06.png") no-repeat -328px 0px;}
//.p4sub6 a:hover { background-position: -164px 0px;}
//
//.p6sub1 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/mediasub01.png") no-repeat -328px 0px;}
//.p6sub1 a:hover { background-position: -164px 0px;}
//.p6sub2 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/mediasub02.png") no-repeat -328px 0px;}
//.p6sub2 a:hover { background-position: -164px 0px;}
//.p6sub3 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/mediasub03.png") no-repeat -328px 0px;}
//.p6sub3 a:hover { background-position: -164px 0px;}
//.p6sub4 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/mediasub04.png") no-repeat -328px 0px;}
//.p6sub4 a:hover { background-position: -164px 0px;}
//.p6sub5 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/mediasub05.png") no-repeat -328px 0px;}
//.p6sub5 a:hover { background-position: -164px 0px;}
//
//.p7sub1 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/resourcesub01.png") no-repeat -328px 0px;}
//.p7sub1 a:hover { background-position: -164px 0px;}
//.p7sub2 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/resourcesub02.png") no-repeat -328px 0px;}
//.p7sub2 a:hover { background-position: -164px 0px;}
//.p7sub3 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/resourcesub03.png") no-repeat -328px 0px;}
//.p7sub3 a:hover { background-position: -164px 0px;}
//.p7sub4 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/resourcesub04.png") no-repeat -328px 0px;}
//.p7sub4 a:hover { background-position: -164px 0px;}
//.p7sub5 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/resourcesub05.png") no-repeat -328px 0px;}
//.p7sub5 a:hover { background-position: -164px 0px;}
//.p7sub6 a { display: block; height: 28px; width: 164px; background: url("/nclc_cn/img/resourcesub06.png") no-repeat -328px 0px;}
//.p7sub6 a:hover { background-position: -164px 0px;}
//
///*-------------------主体格式 Copyright © 2009 SilverZhu All Rights Reserved------------------*/
//
//#mainbody { height: auto; width: 960px; margin-top: 20px; margin-bottom: 20px;}
//#mainbody_left { float: left; width: 160px; height: auto;}
//#mainbody_right { float: left; width: 760px; margin-left: 20px; margin-right: 20px;}
//
//.sep { border-bottom: 1px dotted #cccccc; margin-top: 6px; margin-bottom: 6px;}
//.highlighttitle { background-color:#f2f2f2; padding: 4px;}
//.imgborder { border: 5px solid #F2F2F2;}
//#location_trail { height: 25px; font-size:0.6875em;}
//
///*----------------------------------#mainbody_left-分页快速链接格式----------------------------------------*/
//
//#quicklinks { height: auto; background: url("/nclc_cn/img/quicklinks.png") no-repeat 0 5px; margin-top: 30px; padding-top: 60px;}
//#quicklinksframe { background-color: #F2F2F2; height: 400px; width: 160px;}
//
///*----------------------------------#mainbody_right-栏目综合页介绍格式--------------------------------------*/
//
//.sectionintro { margin-bottom: 10px; height: 100px;	padding: 20px;}
//.sectionnav { background-repeat: no-repeat; background-position:5px 5px; float: left; height: 190px; width: 362px; border: 4px solid #F2F2F2; margin-right: 10px; margin-bottom: 10px; position:relative;}
//.sectiontext { margin-top: 25px; margin-left: 15px; margin-right: 15px; margin-bottom: 20px; }
//.sectionnavl { border: 4px solid #F2F2F2; background-repeat: no-repeat; background-position:10px 10px; padding: 20px; height: 55px; text-indent: 4em; width: 702px; position:relative;}
//
//.titleindent { text-indent: 3em;}
//.detail { text-align: right; position:absolute; bottom:5px; right:5px}
//.detail a { text-decoration: underline;}
//
///*------------------------------------#mainbody_right-主体内容框格式----------------------------------------*/
//
//.pagecontent { height: auto; margin-top: 5px; margin-bottom: 5px;}
//.commonul { padding-left: 20px;}
//.commonul li { font-size: 0.75em; line-height: 1.5;}
//
//.formgeneral span { color: #cc0000;}
//
///* ------------------------------------#mainbody_right-sns-logos------------------------------------------ */
//
//
//.snsul li { float:left; display:inline; margin:10px 0 0 0; padding: 0;height:40px; }
//.snsul li a { display:block; height:40px; background:url("/nclc_cn/img/sns.png") no-repeat; }
//.snsul .sina a { width:115px; background-position: 0 -40px; } 
//.snsul .sina a:hover { width:115px; background-position: 0 0; }
//.snsul .yupoo a { width:100px; background-position:-115px -40px; }
//.snsul .yupoo a:hover { background-position:-115px 0; }
//.snsul .youku a { width:120px; background-position:-215px -40px; }
//.snsul .youku a:hover { background-position:-215px 0; }
//.snsul .douban a { width:125px; background-position:-335px -40px; }
//.snsul .douban a:hover { background-position:-335px 0; }
//.snsul .gtalk a { width:100px; background-position:-460px -40px; }
//.snsul .gtalk a:hover { background-position:-460px 0; }
//
//
///*---------------Home格式 Copyright © 2009 SilverZhu All Rights Reserved---------------*/
//
//.bar { height: 24px; border-bottom: 4px solid #f2f2f2;}
//.nipple { border-bottom: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid; height: 0px; width: 0px; margin-top: -5px; margin-left: 25px;}
//
//#home_event { float:left; width: 300px; height: 400px; margin-left: 8px; border:4px solid #f2f2f2;}
//#home_news { float:left; width: 300px; height: 400px; margin-left: 10px; margin-right: 10px; border:4px solid #f2f2f2;}
//#home_pub { position: relative; float:left; width: 300px; height: 400px; border:4px solid #f2f2f2;}
//
//#home_eventtitle { background-image: url("/nclc_cn/img/headlinetitle.png") no-repeat 0 0;}
//.frame { width: 280px; padding: 10px; text-align: center;}
//.pcenter { text-align: center; color: #cccccc}
//.newslist { list-style: none;}
//
//
//#home_subscription { float:left; height: 90px; width: 308px;  margin-top: 30px; margin-left: 8px; border-bottom:1px dotted #cccccc;}
//#home_sns { float: left; height: 90px; width: 460px; margin-top: 30px; margin-left: 10px; border-bottom:1px dotted #cccccc;}
//#home_chat { float:left; height: 90px; width: 156px;  margin-top: 30px; margin-left: 10px; border-bottom:1px dotted #cccccc;}
//
//.rss { margin-top: 5px; float: left; display:block; height: 60px; width: 140px; background: url("/nclc_cn/img/subscription.png") no-repeat 0 -60px;}
//.rss:hover {background: url("/nclc_cn/img/subscription.png") no-repeat 0 0;}
//.email { margin-top: 5px; float: left; display:block; height: 60px; width: 150px; background: url("/nclc_cn/img/subscription.png") no-repeat -140px -60px;}
//.email:hover {background: url("/nclc_cn/img/subscription.png") no-repeat -140px 0;}
//
//#home_sns ul { display: block; margin-top: 10px; }
//
//.gtalk { margin-top: 10px; padding: 10px 10px 0 15px; height: 45px; width: 123px; font-size: 0.75em; }
//
///*---------------About格式 Copyright © 2009 SilverZhu All Rights Reserved---------------*/
//
//.teamitem_box { margin-top: 20px; margin-bottom: 10px; width: 760px; }
//.teamitem_photo { float: left; margin-left: 10px; width: 130px; background-color: #F2F2F2; }
//.teamitem_text { float: left; margin-right: 10px; margin-right: 0px; height: 140px;padding: 20px; width: 580px; background-color: #F2F2F2;}
//
//.partner_box { float: left; margin: 5px; width: 365px; height: 120px; border: 1px dotted #cccccc; }
//.partner_logo { float: left; margin: 10px; width: 180px; height: 100px; }
//.partner_text { float: left; padding: 10px; width: 145px; height: 100px; background-color:#F2F2F2;	text-align: center;}
//
///*---------------Enjoy格式 Copyright © 2009 SilverZhu All Rights Reserved---------------*/
//
//.linklist li { list-style: none; padding: 5px; font-size: 0.75em; line-height: 1.5;}
//.linklist li a { display: block; background: url("/nclc_cn/img/collapsed.png") no-repeat 5px 2px; padding-left: 20px;}
//
//.tableframe { border:4px solid #f2f2f2;}
//.tablecoll { border-collapse: collapse; background-color:#F2F2F2; border:1px solid #ffffff; width: 100%; font-size: 0.75em;}
//table.tablecoll th { padding-left: 5px; padding-bottom: 5px; padding-top: 5px; background-color:#8ac037; color: #ffffff;}
//table.tablecoll td { padding: 5px;}
//.th1 { width: 10%;}
//.th2 { width: 20%;}
//.th3 { width: 10%;}
//.th4 { width: 35%;}
//.th5 { width: 15%;}
//.th6 { width: 10%;}
//.co1 a { text-decoration: underline;}
//.tdspace{ height: 10px; background: #cccccc;}
//
//.contentbox { float: left; height: 380px; width: 342px; border: 4px solid #F2F2F2; margin-right: 10px; margin-bottom: 10px; text-align: left; padding: 10px;}
//.contentbox h2 { background-color:#F2F2F2; text-align: center; padding:3px}
//
//#p_items { width: 360px; margin-left: 150px; margin-top:10px;}
//#p_items a { width: 180px; height: 180px; display:block; background:url("/nclc_cn/img/projectitem_img.png") no-repeat; }
//#p_items a:hover { width: 180px; height: 180px; display:block; background:url("/nclc_cn/img/projectitem_txt.png") no-repeat; }
//#p_mother { width: 180px; height: 180px; float: left;}
//#p_mother a {background-position: 0 0;}
//#p_mother a:hover { background-position: 0 0;}
//#p_child { width: 180px; height: 180px; float: left;}
//#p_child a {background-position: -180px 0;}
//#p_child a:hover { background-position: -180px 0;}
//#p_family { width: 180px; height: 180px; float: left;}
//#p_family a {background-position: 0 -180px;}
//#p_family a:hover { background-position: 0 -180px;}
//#p_youth{ width: 180px; height: 180px; float: left;}
//#p_youth a { background-position: -180px -180px;}
//#p_youth a:hover { background-position: -180px -180px;}
//
//#coreitem {  margin-left: 150px; margin-top:10px;}
//#coreitem a { width: 140px; height: 360px; display:block; background:url("/nclc_cn/img/servicecore_1.png") no-repeat; }
//#coreitem a:hover { width: 140px; height: 360px; display:block; background:url("/nclc_cn/img/servicecore_2.png") no-repeat; }
//#core01 { width: 140px; height: 360px; float: left;}
//#core01 a { background-position: 0 0;}
//#core01 a:hover { background-position: 0 0;}
//#core02 { width: 120px; height: 360px; float: left;}
//#core02 a { background-position: -140px 0;}
//#core02 a:hover { background-position: -140px 0;}
//#core03 { width: 120px; height: 360px; float: left;}
//#core03 a { background-position: -260px 0;}
//#core03 a:hover { background-position: -260px 0;}
//
///*----------------Joinin格式 Copyright © 2009 SilverZhu All Rights Reserved---------------*/
//
//.donatenav { width: 760px; height: 160px;}
//.donatenavul { list-style: none; font-weight: bold;}
//.donatenavul li { float: left; text-align: center; font-size: 1em; }
//.donatenavul a { display: block; width:233px; background-color: #F2F2F2; padding-bottom: 3px; padding-top: 3px; border: solid 10px #F2F2F2; color: #cccccc;}
//.donatenavul a:hover { color: #666666; background-color: #ffffff; text-decoration: none;}
//#donatenavs { color: #CC0000; background-color: #ffffff;}
//
///*调用Enjoy页面的table部分属性 tablecoll th td a tdspace*/
//.th1 { width: 150px;}
//.th2 { width: 150px;}
//.th3 { width: 250px;}
//
//.tableprojectd { border-collapse: collapse; background-color:#F2F2F2; border:1px solid #ffffff; width: 100%; margin-top: 10px; margin-bottom: 10px; font-size: 0.75em;}
//table.tableprojectd th { padding-left: 5px; padding-bottom: 5px; padding-top: 5px; background-color:#ffcd00; color: #ffffff;}
//table.tableprojectd td { padding: 5px;}
//.th1d { width: 200px;}
//.th2d { width: 200px;}
//.th3d { width: 200px;}
//
///*takeaction页面和donateways页面和career页面的列表*/
//.basicul div { padding: 10px;}
//.basicul li { list-style: none; }
//.basicul li a:hover {text-decoration: underline;}
//.even { background-color:#F2F2F2; padding: 10px;}
//.odd { background-color:#ffffff; padding: 10px;}
//.waylist div { padding-top: 10px; padding-bottom: 5px;}
//.detail_left { text-align: left; text-decoration: underline;}
///*mindshareing页调用team页的格式*/
//
///*----------------Event格式 Copyright © 2009 SilverZhu All Rights Reserved----------------*/
//
//.eventcontent { margin-left: 20px; margin-right: 20px;}
//.events_text { padding:4px; margin-bottom: 20px; margin-top: 20px; background-color: #f2f2f2;}
//
//div.recenteventsintro { float: left; height: 140px; width: 605px; border: 4px solid #f2f2f2; padding: 20px; margin-left:10px; position:relative}
//div.recentevents_box { background-color: #cccccc; float: left; height: 180px; width: 230px; position: relative; margin-left:15px; border: 4px solid #F2F2F2;}
//.events_box { list-style:none; float: left; height: 160px; width: 210px; margin-left: 10px; margin-bottom: 10px; border: 4px solid #F2F2F2;}
//.text_box { margin-top: 123px;	margin-left: 10px; color:#ffffff;}
//.text_box a { color: #ffffff;}
//
//.eventintro { position: relative; padding:20px; background-color: #f2f2f2;}
//.eventintro h2 { text-align: center; margin-bottom: 15px}
//
//.backtoevent { position: absolute; height: 50px; width: 75px; right:10px}
//.backtoevent a { display: block; height: 50px; width: 75px; background: url("/nclc_cn/img/backtoevent.png") no-repeat 0px 0px;}
//.backtoevent a:hover { background-position: 0px -50px;}
//
///*photogallery容器格式*/
//pre { font-size: 0.75em; line-height: 12px; overflow-x: auto;}
//#gallery_page { width: 912px; background-color: #fff; margin: 0 auto; font-size: 0,75em; text-align: left; border: 4px solid #f2f2f2;}
//#gallery_container { font-size: 0.75em; padding: 20px;}
//
//#docpage ul {list-style: none; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;font-size: 0.75em; line-height: 1.5;}
//
///*------------－---Media格式 Copyright © 2009 SilverZhu All Rights Reserved----－-----------*/
//
//.media_box { width: 760px; margin-bottom: 20px;}
//.index { list-style: none; margin-top:10px;}
//.meta { float: left; width: 15%;}
//.info { float: left; width: 80%;}
//.index p { margin-bottom: 10px;}
//.posttime { width: 120px; color:#8ac037 ; display: inline-block;}
//
///*---------------Resource格式 Copyright © 2009 SilverZhu All Rights Reserved---------------*/
//
//.resource_box { margin-bottom: 50px;}
//.sliderGallery ul { position: absolute; list-style: none; overflow: hidden; white-space: nowrap;}
//.sliderGallery ul li { position: relative; float: left; width:135px; margin-left: 10px; margin-top: 10px; text-align: center; display: inline; white-space: normal;}
//.sliderGallery ul li a { display: block;}
//.imgposition { margin-left: 10px; margin-top: 10px;}
//
///* sliderCSS */
//#slidercontainer { background-color: #fff; width: 760px;}
//.sliderGallery { background: #f9f9f9; overflow: hidden; position: relative; padding-top: 30px; height: 340px; width: 760px;}
//.slider { width: 760px; height: 20px; top: 330px; position: absolute; background: url(/nclc_cn/img/scrollbar2.png) no-repeat;}
//.handle { position: absolute; cursor: move; height: 18px; width: 220px; margin-top: 1px; top: 0; background: url(/nclc_cn/img/scroller2.png) no-repeat; z-index: 100;}
//
///*------Contact Legal Sitemap etc.格式 Copyright © 2009 SilverZhu All Rights Reserved------*/
//
//.contact_box { border-bottom: 1px dotted #cccccc; margin: 20px 50px 0 50px; padding-bottom: 10px;}
//.imginserted { display: block; float: right;}
//
//#sitemaphome { font-size: 1em; border-bottom: 1px dotted #cccccc; padding-bottom: 10px; padding-left: 23px;}
//.sitemapbox { float: left; margin: 10px; padding: 8px; border-left: 1px dotted #cccccc; height: 180px;}
//.sitemapbox a { color: #8ac037;}
//.sitemapul { list-style: none; margin-top: 5px;}
//.sitemapul li { font-size: 0.75em; margin-left: 0px; text-decoration: none;}
//.sitemapul a { text-decoration: none; color: #555555;}
//.sitemapul a:hover { text-decoration: underline; color: #999999;}
//
///*------------------页脚格式 Copyright © 2009 SilverZhu All Rights Reserved------------------*/
//
//#footer {height: 20px; width: 946px; background-color: #cccccc; padding-top: 6px; padding-left: 9px; padding-right: 5px;}
//#footer ul{ width: 300px; float:right;}
//#footer ul li {list-style: none; float:right; font-size: 0.6875em; display: inline; border-left: 1px solid #555555; padding: 0px 5px;}
//#copyright { font-size: 0.6875em; width: 300px; float: left;}