/* FIX the Stupid IE bug */

/*.nav ul { margin-left:237px;}
.nav ul li.dropdown ul { margin-left: -6px;}*/
#footer { font-size: 12px;}
.newsdate { line-height: 13px; }
.newszone ul li a { width: 230px; line-height: 15px; }